  :root {
    --button-bar-height: 140px;
    font-family: sans-serif;
  }
  
  .has-tabs.has-button-bar {
    bottom: var(--button-bar-height);
  }
  
  .nav-button {
    margin: 20px 20px 5px 0px;
  }
  
  .nav-avatar-img {
    margin-left: 20px;
  }
  
  .button {
    white-space: nowrap;
  }
  
  .nav-avatar-img .babyAvatar {
    height: 37px;
    margin: -2px;
    border: solid 1px darkgrey;
    border-radius: 20px;
    background: white;
  }
  
  .nav-avatar-name {
    text-align: left;
    padding-top: 2px;
    padding-left: 4px;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 500;
    color: #444;
  }
  
  .button.button-stable.button-outline.bar-button-right {
    width: 50px;
    color: darkcyan;
    border-color: darkcyan;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    text-overflow: ".";
  }
  
  .button.bar-button-image-right {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 4px;
    border: solid 1px darkcyan;
    border-radius: 5px;
    /*height: 100%;*/
    overflow: hidden;
  }
  
  .nav-button-image {
    height: 30px;
  }
  
  .button-text {
    overflow: hidden;
    /* try with string */
  }
  
  .nav-icon-left {
    font-size: 30px;
    margin-right: 15px;
    color: darkcyan;
  }
  /*.nav-day-icon {
    height: 100%;
    border: solid 1px darkcyan;
    border-radius: 5px;
  }*/
  
  .nav-icon-left.disabled {
    color: lightgrey;
  }
  
  .text-label {
    font-size: 17px;
    color: darkcyan;
  }
  
  .text-infos {
    font-size: 12px;
    font-weight: normal;
    color: darkgrey;
  }
  /*  BUG FROM HERE */
  
  .no-padding {
    padding: 0px;
  }
  
  .row {
    padding: 0px;
    margin: 0px;
  }
  /* TO HERE */
  
  .no-margin {
    margin: 0px;
  }
  
  .list {
    margin-top: -1px
  }
  
  .item-divider {
    height: 63px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .time_display {
    padding: 30px;
    border: solid 2px darkcyan;
    border-radius: 10px;
    color: darkcyan;
    text-align: center;
    background: whitesmoke;
  }
  
  .time_display_sm {
    padding: 10px;
    border: solid 1px darkcyan;
    border-radius: 10px;
    font-size: 20px;
    color: darkcyan;
    text-align: center;
    background: whitesmoke;
  }
  
  .time_display_sm.disabled {
    padding: 10px;
    border: solid 1px grey;
    border-radius: 10px;
    font-size: 20px;
    color: grey;
    text-align: center;
    background: whitesmoke;
  }
  
  .no-side-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  /*********************************************************************************************
/******************************             AUTOMATIC TAB            *************************
/********************************************************************************************/
  /******************************             CHRONO TIMER           **************************/
  /*@media screen and (max-width: 320px) {
    .time_display {
      font-size: 45px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .time_display {
      font-size: 45px;
    }
  }*/
  
  .ion-calendar.icon-input {
    font-size: 25px;
    color: darkcyan;
  }
  
  .ion-clock.icon-input {
    font-size: 30px;
    color: darkcyan;
  }
  
  .time_display {
    font-size: 45px;
  }
  
  .date-row {
    padding: 5px 15px 10px 20px;
  }
  
  .date-row {
    padding: 5px 15px 10px 20px;
  }
  /******************************             CHRONO SIDE ROW        **************************/
  
  .side-row {
    padding: 10px 15px 0 15px;
  }
  
  .icon.ion-ios-checkmark-outline,
  .icon.ion-ios-circle-outline {
    font-size: 32px;
    color: darkcyan;
  }
  
  .state_checked {
    border-color: darkcyan;
    background: darkcyan;
    color: white;
    opacity: 0.8;
  }
  
  .state_unchecked {
    background: white;
    color: lightgray;
    border: solid 1px lightgray;
  }
  /******************************             CHRONO BUTTON         ***************************/
  
  .button-row {
    padding: 0px 15px 0 15px;
  }
  /******************************             CHRONO LIST           ***************************/
  
  .recItem-row {
    padding: 0px 20px 0px 20px;
    border: solid 0px;
  }
  
  .recItem-row.ng-enter {
    height: 0px;
    -webkit-transition: 0.2s height linear;
    transition: 0.2s height linear;
  }
  
  .recItem-row.ng-enter.ng-enter-active {
    height: 30px;
  }
  
  .recItem-row.ng-leave {
    height: 30px;
    -webkit-transition: 0.2s height linear;
    transition: 0.2s height linear;
  }
  
  .recItem-row.ng-leave.ng-leave-active {
    height: 0px;
  }
  
  .recItem-row .row {
    background: whitesmoke;
    padding: 5px;
  }
  
  .start_time {
    font-style: italic;
    /*color: darkgray;
    font-size: 13px*/
    font
  }
  /******************************             OPTIONS              ***************************/
  
  .item-toggle-option {
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    color: darkcyan;
  }
  /******************************             DIAPER               ***************************/
  
  @keyframes right-to-left {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 1000px;
    }
  }
  
  .close-right-to-left {
    animation-name: right-to-left;
    animation-duration: 1s;
  }
  
  .diapper-item {
    padding: 10px 20px 20px 20px;
  }
  
  .diapper-item.ng-hide,
  .diapper-item.ng-hide .row-diapper,
  .diapper-item.ng-hide .row-diapper .col {
    padding-top: 0px;
    /*padding-bottom: 0px;
    height: 0px;*/
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  
  .diapper-item.ng-hide-remove,
  .diapper-item.ng-hide-remove .row-diapper,
  .diapper-item.ng-hide-remove .row-diapper .col {
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  /*
.icon-left-animated.ng-hide-add,
.icon-left-animated.ng-hide-remove {
    display: block !important;
}*/
  
  .diapper-item .row {
    padding-top: 10px;
    font-size: 16px;
    color: darkcyan;
  }
  
  #peeSlider {
    margin-top: 10px;
  }
  
  #pooSlider {
    margin-top: 10px;
  }
  /******************************             BATH ROW               ***************************/
  
  .bath-row .col {
    padding: 0px 20px 0px 20px;
    color: gray;
    font-style: italic;
  }
  /******************************             MEDECINE ROW           ***************************/
  
  .med-row {
    padding: 4px 15px 4px 15px;
  }
  
  .med-row input {
    background: whitesmoke;
    padding-left: 15px;
    margin-right: -20px;
    font-size: 16px;
    color: #444;
    text-overflow: ellipsis;
  }
  
  .medecine {
    width: 25px;
    height: 25px;
    border: 1px solid darkcyan;
    border-radius: 12px;
    color: darkcyan;
    font-size: 20px;
    text-align: center;
  }
  
  .vitamin-checked {
    background: orange;
    /*salmon;*/
  }
  
  .paracetamol-checked {
    background: violet;
  }
  
  .otherMed-checked {
    background: powderblue;
    /*skyblue;*/
  }
  /******************************             MESSAGE ROW            ***************************/
  
  .msg-row {
    padding: 4px 25px 4px 25px;
  }
  
  .msg-row textarea {
    padding: 10px;
    width: 100%;
    background: whitesmoke;
    resize: none;
    color: #444;
  }
  /******************************             MANUAL TAB               *************************/
  
  .duration-row {
    padding: 5px 15px 10px 15px;
  }
  
  .bottle-row {
    margin: -15px 0 0px 0;
    padding: 10px 15px 10px 15px;
  }
  
  .rz_slider {
    /*bottom: 10px !important*/
    margin-top: 10px !important;
  }
  
  .rz-bar-wrapper {
    border-radius: 20px;
    background: whitesmoke;
  }
  
  .rz-bar-wrapper .rz-bar {
    background: whitesmoke;
  }
  
  .rzslider .rz-pointer.rz-active:after {
    background: white;
  }
  
  .rz-pointer.rz-pointer-min,
  .rz-pointer.rz-pointer-max {
    margin-top: -1px;
    background: white;
    border: 2px solid darkcyan;
  }
  
  #breastSlider .rz-bubble {
    /*bottom: 10px !important;
  /*z-index: 3;*/
  }
  /*
#breastSlider .rz-ceiling-label {
  opacity: 1 !important;
  top: -21px;
  padding: 1px 1px 0px 2px;
  font-weight: bold !important;
  color: darkcyan !important;
  background: white;
  height: 20px;
  z-index: 10;
}*/
  /* CHANGE HERE FOR CURSOR LABEL */
  
  #pooSlider .rz-bubble {
    opacity: 0 !important;
    margin-bottom: 20px;
    /*z-index: 3;*/
  }
  /*
rzslider .rz-ticks .rz-tick {
  background: darkcyan;
  opacity: 0.4;
}
*/
  /******************************       BUTTON BOARD (BOTTOM)          ************************/
  
  .buttonBoard {
    padding: 0px 30px 0 30px;
    height: 140px;
    position: fixed;
    bottom: -1px;
    width: 100%;
    background: white;
    z-index: 100;
  }
  
  .buttonBoard .row {
    height: 70px;
  }
  
  .bottom-button-row {
    padding: 0px 30px 0 30px;
  }
  /*********************************************************************************************
/******************************             HISTORIC TAB             *************************
/********************************************************************************************/
  
  .has-tabs.has-fixed-header {
    top: 93px;
  }
  
  .has-fixed-header {}
  
  .fixed-header {
    position: fixed;
    top: 43px;
    left: 0px;
    right: 0px;
  }
  
  .day-header {
    height: 40px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
  }
  
  .side_display {
    margin-left: -3px;
    padding-left: 0px;
    padding-right: 0px;
  }
  /*
.item-record {
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: solid 1px lightgrey;
  -webkit-transition: 0.5s height linear;
  transition: 0.1s height linear;
}

.item-record.ng-leave.ng-leave-active {
  height: 0px;
}*/
  
  .item-record {
    /*height: 50px;*/
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: solid 1px lightgrey;
    /*  -webkit-transition: 0.2s height linear;
  transition: 0.2s height linear;*/
  }
  /*.item-record.ng-leave.ng-leave-active:not(.js-scrolling.active.refreshing-tail) {*/
  
  .item-record.ng-leave.ng-leave-active {
    height: 0px;
  }
  
  .col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  
  .col-20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  
  .col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  
  .col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  
  .historic-content {
    padding-right: 0px;
    padding-left: 0px;
  }
  /*.breast-side {
  border-radius: 10px;
  margin: 5px 1px 0 1px;
  width: 50%;
  text-align: center;
  font-size: 10px;
  color: lightgray;
}

.breast-side.state-checked {
  background: darkcyan;
  font-weight: bold;
  color: white
}*/
  
  .breast-side {
    margin: 5px 1px 0 1px;
    width: 50%;
    text-align: center;
    font-size: 10px;
    color: lightgray;
  }
  
  .breast-side.state-checked {
    font-weight: bold;
    color: darkcyan
  }
  
  .side_button {
    padding: 5px 15px 5px 15px;
    border: solid 1px grey;
    border-radius: 3px;
  }
  
  .med-infos {
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 10px;
    color: lightgray;
    text-align: left;
    line-height: 1.2
  }
  
  .med-infos .status-checked {
    font-weight: bold;
    color: darkcyan
  }
  
  .note {
    width: 100%;
    margin-top: -3px;
    padding-top: 0px;
    padding-bottom: 25px;
    height: 20px;
    text-overflow: ellipsis;
    font-size: 12px;
    color: gray;
    font-style: italic;
  }
  
  .edit-flag {
    height: 49px;
    width: 60px;
    margin-top: 1px;
    position: fixed;
    right: 0px;
    background: white;
    transition: 0.1s margin-right linear;
    z-index: 10;
    border-bottom: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
  }
  
  .edit-flag.ng-hide {
    margin-right: -50px;
  }
  
  .del-flag {
    /*margin-right: 0px;*/
    -webkit-transition: 0.5s margin-left linear;
    transition: 0.1s margin-left linear;
    z-index: 100;
  }
  
  .del-flag.ng-hide {
    margin-left: -30px;
  }
  /*********************************************************************************************
/******************************             SETTINGS TAB            *************************
/********************************************************************************************/
  
  .menu-chevron {
    color: grey;
    font-size: 25px !important;
  }
  
  .item.baby-item-content {
    background: #f5f5f5
  }
  
  .item-content {
    padding: 0px !important;
  }
  
  .side-header {
    height: 63px;
    vertical-align: bottom;
  }
  
  .babyAvatar {
    border: solid 1px lightgrey;
    margin-top: -5px
  }
  
  .baby-picture {
    width: 90%;
    border: solid 5px darkturquoise;
    border-radius: 10px;
  }
  
  .babycamera {
    padding-left: 3%;
    padding-top: 3%;
    position: absolute;
    width: 14%;
    opacity: 0.2;
  }
  
  .col-baby-heart {
    text-align: center;
    font-size: 40px;
  }
  
  .babyinfo input:disabled,
  .settings-time.disabled {
    background: lightgrey;
    color: grey;
  }
  
  .babyinfo.list {
    margin-bottom: 0px;
  }
  
  .popup-confirm {
    text-align: center;
  }
  
  .popup-confirm .popup-buttons {
    margin-top: -15px;
  }
  
  .settings-row {
    margin-top: 0px !important;
    padding: 0px 20px 0px 20px;
    height: 42px;
  }
  
  .settings-text {
    font-size: 16px;
    color: #444;
  }
  
  .language-row {
    padding: 0px 20px 0px 20px;
  }
  
  .row + .row.light-row {
    margin-top: 10px;
    padding: 0px 20px 0px 20px;
  }
  
  .language-select {
    color: darkcyan;
    border-radius: 5px;
    border-color: darkcyan;
    background: white;
  }
  
  .settings-instruct {
    padding: 0px 10px 0px 5px;
    font-size: 14px;
    color: gray;
    color: #444;
  }
  
  .instruct-row {
    margin-top: 0px !important;
    padding: 0px 20px 0px 20px;
    height: 30px;
  }
  
  .left-radio {
    padding-left: 20px;
  }
  
  .settings-row input,
  .measure-row input {
    border: 1px solid darkcyan;
    border-radius: 10px;
    /*background: whitesmoke;*/
    padding-left: 20px;
    margin-right: -20px;
    font-size: 16px
  }
  
  .settings-time {
    border: 1px solid darkcyan;
    border-radius: 10px;
    /*background: whitesmoke;*/
    padding-top: 5px;
    padding-left: 20px;
    font-size: 16px;
    height: 34px;
    color: #444;
    vertical-align: middle;
  }
  
  .popup-container .popup {
    background: #f5f5f5;
    border-radius: 10px;
  }
  
  .popup-head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightgrey;
    color: #444;
  }
  
  .sel-popup .popup-body {
    padding: 0px;
  }
  
  .sel-popup-text {
    padding: 10px 20px 10px 20px;
  }
  
  .sel-popup .item {
    height: 50px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .sel-popup .babyAvatar {
    margin-top: -9px;
    width: 35px !important;
    height: 35px !important;
  }
  
  .button-sel-popup {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .scroll-content {
    overflow-y: auto;
  }
  
  .slider {
    height: 100%;
  }
  
  .slider-slide {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
  }
  
  .slider-pager {
    bottom: 0px;
    height: 30px;
    padding-top: 2px;
    background: rgba(255, 255, 255, 0.5);
  }
  
  .graph-row-header {
    padding-top: 5px;
    vertical-align: middle;
  }
  
  .weight-chart-container {
    position: relative;
    margin: auto;
    height: 400px;
    width: 80vw;
  }
  
  .feeding-chart-container {
    position: relative;
    margin: auto;
    height: 200px;
    width: 80vw;
  }
  
  .graph-duration-row {
    text-align: left;
    padding: 0px 60px 0px 40px;
    height: 34px;
  }
  
  .graph-upto-row {
    text-align: left;
    padding-top: 30px !important;
    padding: 40px 60px 0px 40px;
    height: 30px;
  }
  
  .graph-select {
    color: darkcyan;
    padding-left: 15px;
    border-radius: 10px;
    border-color: darkcyan;
    background: white;
  }
  
  .graph-time {
    border: 1px solid darkcyan;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 14px;
    height: 34px;
    color: darkcyan;
    vertical-align: middle;
    font-weight: 400;
  }
  /*-------------------------------------------OLD--------------------------------------------*/
  /******************************             TIME HEADER (UP)         ************************/
  
  .curTime_header {
    margin: -10px -10px 0 -10px;
    font-size: 17px;
    color: darkcyan;
    text-align: center;
    background: whitesmoke;
  }
  
  .timerList .row {
    padding: 0px 20px 0 20px;
    background: whitesmoke;
  }
  
  .timerList .col {
    padding: 5px;
  }