/******************************             TIME HEADER (UP)         ************************/

.curTime_header {
    margin: -10px -10px 0 -10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    color: darkcyan;
    text-align: center;
    background: whitesmoke;
}


/******************************             CHRONO TIMER           ***************************/

.time_display {
    margin: 20px 30px 0 30px;
    padding: 30px;
    border: solid 2px darkcyan;
    border-radius: 10px;
    font-size: 50px;
    color: darkcyan;
    text-align: center;
    background: whitesmoke;
}


/******************************             CHRONO TOGGLE SIDE    ***************************/

.side_display .row {
    font-size: 16px;
    color: darkcyan;
    padding: 20px 30px 0 30px;
}


/******************************             CHRONO BUTTON         ***************************/

.button_row {
    padding: 10px 25px 0 25px;
}


/******************************             CHRONO LIST           ***************************/

.timerList .row {
    padding: 0px 30px 0 30px;
}

.timerList .col {
    padding: 5px;
}

.start_time {
    font-style: italic;
    /*color: darkgray;
    font-size: 13px*/
    font
}


/******************************             DIAPER            ************************/

.diapper {
    padding: 0px 25px 0 25px;
}

.diapper .row {
    padding-top: 10px;
    font-size: 16px;
    color: darkcyan;
}

#peeSlider {
    margin-top: -10px;
}

#pooSlider {
    margin-top: -10px;
}

.rz-bar-wrapper .rz-bar {
    border-radius: 10px;
    background: whitesmoke;
}

.rz-pointer.rz-pointer-min,
.rz-pointer.rz-pointer-max {
    background: darkcyan;
}

.rz-bubble {
    margin-bottom: -25px;
    /*z-index: 3;*/
}

rzslider .rz-ticks .rz-tick {
    background: darkcyan;
    opacity: 0.4;
}


/******************************       BUTTON BOARD (BOTTOM)          ************************/

.buttonBoard {
    padding: 0px 30px 0 30px;
    height: 140px;
    position: fixed;
    bottom: -1px;
    width: 100%;
    background: white;
    z-index: 100;
}

.buttonBoard .row {
    height: 70px;
}