<ion-view view-title="{{'PAGE_TITLE.CONFIGURATION' | translate}}">

  <!-- BACK BUTTON (LEFT)-->
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="confVM.goBack()">
    </button>&nbsp;&nbsp;
  </ion-nav-buttons>

  <ion-content>

    <div class="list">

      <!-- AUTOMATIC MANUAL HEADER -->
      <div class="item item-divider text-label" style="padding-top:15px;margin-bottom:5px">
        <div class="row row-center">
          <!--<div class="col col-center">{{'SETTINGS.AUTO_MAN_HEADER' | translate}}</div>-->
          <div class="col col-center">{{'SETTINGS.DISPLAY_HEADER' | translate}}</div>
        </div>
      </div>

      <!-- AUTOMATIC MANUAL INSTRUCTIONS 
      <div class="row row-center instruct-row settings-text">
        <div class="col settings-instruct">
          {{'SETTINGS.AUTO_MAN_INSTRUCTIONS' | translate}}
        </div>
      </div>-->

      <!-- AUTOMATIC MANUAL LIST CONFIGURATION -->
      <div class="row row-center instruct-row settings-text">
        <div class="col col-15 left-radio">
          <i class="icon ion-ios-checkmark-outline" style="font-size: 26px;color:grey"></i>
        </div>
        <div class="col col-70" style="color:grey">
          {{'INPUT.BREAST_CHRONO_HEADER' | translate}}
        </div>
      </div>
      <div class="row row-center instruct-row settings-text">
        <div class="col col-15 left-radio" ng-click="confVM.onClickMale()">
          <i class="icon ion-ios-checkmark-outline" style="font-size: 26px;color:grey"></i>
        </div>
        <div class="col col-70" style="color:grey">
          {{'INPUT.BOTTLE_HEADER' | translate}}
        </div>
      </div>
      <div class="row row-center instruct-row settings-text" ng-click="confVM.onClickMedecine()">
        <div class=" col col-15 left-radio ">
          <i ng-class="confVM.medecine? 'icon ion-ios-checkmark-outline': 'icon ion-ios-circle-outline' " style="font-size: 26px "></i>
        </div>
        <div class="col col-70 ">
          {{'INPUT.MEDECINE_HEADER' | translate}}
        </div>
      </div>
      <div class="row row-center instruct-row settings-text" ng-click="confVM.onClickDiapper()">
        <div class=" col col-15 left-radio">
          <i ng-class="confVM.diapper? 'icon ion-ios-checkmark-outline': 'icon ion-ios-circle-outline' " style="font-size: 26px "></i>
        </div>
        <div class="col col-70 ">
          {{'INPUT.DIAPPER_HEADER' | translate}}
        </div>
      </div>
      <div class="row row-center instruct-row settings-text" ng-click="confVM.onClickBath()">
        <div class=" col col-15 left-radio ">
          <i ng-class="confVM.bath? 'icon ion-ios-checkmark-outline': 'icon ion-ios-circle-outline' " style="font-size: 26px "></i>
        </div>
        <div class="col col-70 ">
          {{'INPUT.BATH_HEADER' | translate}}
        </div>
      </div>
      <div class="row row-center instruct-row settings-text" ng-click="confVM.onClickMeasure()">
        <div class=" col col-15 left-radio ">
          <i ng-class="confVM.measure? 'icon ion-ios-checkmark-outline': 'icon ion-ios-circle-outline' " style="font-size: 26px "></i>
        </div>
        <div class="col col-70 ">
          {{'INPUT.MEASURE_HEADER' | translate}}
        </div>
      </div>
      <div class="row row-center instruct-row settings-text" ng-click="confVM.onClickNote()">
        <div class=" col col-15 left-radio ">
          <i ng-class="confVM.note? 'icon ion-ios-checkmark-outline': 'icon ion-ios-circle-outline' " style="font-size: 26px "></i>
        </div>
        <div class="col col-70 ">
          {{'INPUT.NOTE_HEADER' | translate}}
        </div>
      </div>

      <!-- GENERAL -->
      <div class="item item-divider text-label " style="padding-top:15px;margin-top:10px;margin-bottom:5px ">
        <div class="row row-center ">
          <div class="col col-center ">{{'SETTINGS.GENERAL_HEADER' | translate}}</div>
        </div>
      </div>
      <!-- LANGUAGE -->
      <div class="row row-center language-row">
        <div class=" col col-50 ">
          {{'SETTINGS.GENERAL_LANGUAGE' | translate}}
        </div>
        <select class="col col-50 language-select" ng-model="confVM.language" ng-options="item.label for item in confVM.languageList" ng-change="confVM.changeLanguage()">
        </select>
      </div>


    </div>
    <!-- END OF LIST -->

  </ion-content>

</ion-view>