<div style="padding-left:10px;padding-right:10px">
  <button class="button button-block button-positive button-outline " ng-click="openCamera(baby)">
    {{'POPUP.PICTURE_BUTTON_CAMERA' | translate}}
  </button>
  <button class="button button-block button-positive button-outline " ng-click="openGallery(baby)">
    {{'POPUP.PICTURE_BUTTON_GALLERY' | translate}}
  </button>
  <button class="button button-block button-positive button-outline " ng-click="deletePicture(baby)">
    {{'POPUP.PICTURE_BUTTON_DELETE' | translate}}
  </button>
  <button class="button button-block button-positive button-outline " ng-click="cancel_menu(baby)">
    {{'POPUP.CANCEL' | translate}}
  </button>
</div>