<div style="padding-left:10px;padding-right:10px">
  <button class="button button-block button-positive button-outline " ng-click="openCamera()">
    {{'POPUP.OPEN_CAMERA' | translate}}
  </button>
  <button class="button button-block button-positive button-outline " ng-click="openGallery()">
    {{'POPUP.OPEN_GALLERY' | translate}}
  </button>
  <button class="button button-block button-positive button-outline " ng-click="deletePicture()">
    {{'POPUP.DELETE_PICTURE' | translate}}
  </button>
  <button class="button button-block button-positive button-outline " ng-click="cancel_menu()">
    {{'POPUP.CANCEL' | translate}}
  </button>
</div>