<ion-view view-title="{{'PAGE_TITLE.HISTORIC' | translate}}">

  <!-- CONFIG BUTTON (in Nav Bar)-->
  <ion-nav-buttons side="secondary">
    <button class="button button-stable button-outline bar-button-right" ng-click="histVM.switchEditMode()">
      {{histVM.editMode?('BUTTON.OK' | translate):('BUTTON.EDIT' | translate)}}
    </button>
  </ion-nav-buttons>

  <!-- DURATION BREAK HEADER 
  <div class="item item-divider fixed-header text-label">
    <div class="row row-center">
      <div class="col">TIME SINCE LAST FEEDING : </div>
      <div class="col " style="text-align:right;vertical-align:middel">
        <span ng-if="histVM.durDay!=0">{{histVM.durDay}}d</span>
        <span ng-if="histVM.durHour!=0">{{histVM.durHour}}h</span>
        <span ng-if="histVM.durMin!=0">{{histVM.durMin}}mn</span>
      </div>
    </div>
  </div>

  <ion-content class="has-fixed-header">
-->

  <ion-content delegate-handle="histView">

    <!-- REFRESHER -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="histVM.doRefresh()">
    </ion-refresher>

    <list>

      <!-- DAY LIST -->
      <div ng-repeat="day in histVM.dayList">

        <!-- DAY HEADER -->
        <div class="item item-divider day-header">
          <div class="row row-center text-label" ng-dblclick="histVM.showHideDayRec(day)">
            <div class="col col-center">{{day.toLocaleDateString()}}
            </div>
          </div>
        </div>

        <!-- REC LIST for current day -->
        <div ng-if="day.show === true">
          <div class="item-record" ng-repeat="item in histVM.dispList | extractRecListForDay : day" ng-dblclick="histVM.editRec(item)">

            <div class="edit-flag" ng-show="histVM.editMode" ng-click="histVM.editRec(item)">
              <div class="row row-center" style="height:100%">
                <div class="col col-center">
                  <i class="ion-compose" style="color:darkcyan;font-size:28px"></i>
                </div>
              </div>
            </div>

            <div class="row row-center no-padding no-margin">

              <div class="col col-10 col-center del-flag " ng-show="histVM.editMode" ng-click="histVM.delRec(item)">
                <i class="ion-minus-circled" style="color:red;font-size:25px;padding:0px;margin:0px"></i>
              </div>

              <!-- HOUR -->
              <div class="col-15 col-center">
                {{item.time | HourMinFromDate}}
              </div>


              <div class="col col-90 no-padding no-margin">
                <div class="row row-center no-padding no-margin">
                  <!-- BREAST -->
                  <div class="col-5 col-center" style="text-align:right;margin-left:-10px">
                    <div ng-if="item.breast == true">
                      <img ng-src="img/breast-sm-on.jpg" style="height:35px">
                    </div>
                    <div ng-if="item.breast != true">
                      <img ng-src="img/breast-sm-off.jpg" style="height:35px">
                    </div>
                  </div>

                  <!-- DURATION -->
                  <div class="col col-15 side_display" ng-if="item.breast == true">
                    <div class="row" style="height:15px">
                      <div style="width:100%; text-align:center">
                        {{item.duration | MinutesFromSeconds}}
                      </div>
                    </div>
                    <div class="row row-center">
                      <div class="breast-side" ng-class="item.leftSide?'state-checked':'none'">
                        {{'ACRONYM.LEFT' | translate}}
                      </div>
                      <div class="breast-side" ng-class="item.rightSide?'state-checked':'none'">
                        {{'ACRONYM.RIGHT' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="col col-15 side_display" ng-if="item.breast != true">
                    <div style="width:100%; text-align:center; color:lightgrey">
                      --
                    </div>
                  </div>

                  <!-- BOTTLE -->
                  <div class="col col-10 no-side-padding" style="text-align:right">
                    <div ng-if="item.bottle == true">
                      <img ng-src="img/bottle-on.png" style="height:35px">
                    </div>
                    <div ng-if="item.bottle != true">
                      <img ng-src="img/bottle-off.png" style="height:35px">
                    </div>
                  </div>

                  <!-- CONTENT -->
                  <div class="col col-15 col-center" ng-if="item.bottle == true">
                    <div style="width:100%; text-align:left">
                      {{item.bottleContent}}
                      <br>ml
                    </div>
                  </div>
                  <div class="col col-15 col-center" ng-if="item.bottle != true">
                    <div style="width:100%; text-align:left; color:lightgrey">
                      &nbsp;&nbsp;--
                    </div>
                  </div>

                  <!-- MEDECINE : ICON -->
                  <div class="col col-15" style="text-align:right;margin-left:-25px" ng-if="histVM.displayConf.medecine">
                    <div ng-if="item.medecine == false">
                      <img ng-src="img/medecine-off.png" style="height:33px">
                    </div>
                    <div ng-if="item.medecine == true">
                      <img ng-src="img/medecine-on.png" style="height:33px">
                    </div>
                  </div>
                  <!-- MEDECINE : DETAIL -->
                  <div class="col col-15 med-infos" ng-if="histVM.displayConf.medecine">
                    <!-- VITAMIN -->
                    <div ng-if="item.medecine && item.vitamin" class="status-checked">{{histVM.vitaminName.slice(0,4)}}</div>
                    <div ng-if="!item.medecine || !item.vitamin">--</div>
                    <!-- PARACETAMOL -->
                    <div ng-if="item.medecine && item.paracetamol" class="status-checked">{{histVM.paracetamolName.slice(0,4)}}</div>
                    <div ng-if="!item.medecine || !item.paracetamol">--</div>
                    <!-- OTHER MEDECINE -->
                    <div ng-if="item.medecine && item.otherMed" class="status-checked">{{item.otherMedName.slice(0,4)}}</div>
                    <div ng-if="!item.medecine || !item.otherMed">--</div>
                  </div>

                  <!-- PEE -->
                  <div class="col col-10" style="text-align:right;margin-left:-22px" ng-if="histVM.displayConf.diapper">
                    <div ng-if="item.diapper == false">
                      <img ng-src="img/diapper-off.jpg" style="height:30px">
                    </div>
                    <div ng-if="item.diapper == true">
                      <div ng-if="item.peeLevel == 0">
                        <img ng-src="img/diapper-on-0.jpg" style="height:30px">
                      </div>
                      <div ng-if="item.peeLevel == 1">
                        <img ng-src="img/diapper-pee1.jpg" style="height:30px">
                      </div>
                      <div ng-if="item.peeLevel == 2">
                        <img ng-src="img/diapper-pee2.jpg" style="height:30px">
                      </div>
                      <div ng-if="item.peeLevel == 3">
                        <img ng-src="img/diapper-pee3.jpg" style="height:30px">
                      </div>
                    </div>
                  </div>

                  <!-- POO -->
                  <div class="col col-10" style="text-align:right" ng-if="histVM.displayConf.diapper">
                    <div ng-if="item.diapper == false">
                      <img ng-src="img/diapper-off.jpg" style="height:30px">
                    </div>
                    <div ng-if="item.diapper == true">
                      <div ng-if="item.pooLevel == 0">
                        <img ng-src="img/diapper-on-0.jpg" style="height:30px">
                      </div>
                      <div ng-if="item.pooLevel == 1">
                        <img ng-src="img/diapper-poo1.jpg" style="height:30px">
                      </div>
                      <div ng-if="item.pooLevel == 2">
                        <img ng-src="img/diapper-poo2.jpg" style="height:30px">
                      </div>
                      <div ng-if="item.pooLevel == 3">
                        <img ng-src="img/diapper-poo3.jpg" style="height:30px">
                      </div>
                    </div>
                  </div>

                  <!-- BATH -->
                  <div class="col col-10" style="text-align:center;margin-left: 10px" ng-if="histVM.displayConf.bath">
                    <div ng-if="item.bath">
                      <img ng-src="img/bath-on.png" style="height:28px">
                    </div>
                    <div ng-if="!item.bath">
                      <img ng-src="img/bath-off.png" style="height:28px">
                    </div>
                  </div>

                </div>

                <div class="row row-center " ng-if="item.message && histVM.displayConf.note">
                  <div class="col col-90 note">
                    {{item.msgTxt}}
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- DURATION BREAK -->
      <div class="item item-divider text-label">
        <div class="row row-center">
          <div class="col">{{'HISTORIC.BREAK_HEADER' | translate}}</div>
          <div class="col " style="text-align:right;vertical-align:middel">
            <span ng-if="histVM.durDay!=0">{{histVM.durDay}}{{'ACRONYM.DAY' | translate}}</span>
            <span ng-if="histVM.durHour!=0">{{histVM.durHour}}{{'ACRONYM.HOUR' | translate}}</span>
            <span>{{histVM.durMin}}{{'ACRONYM.MINUTE' | translate}}</span>
          </div>
        </div>
      </div>

    </list>
  </ion-content>
</ion-view>