<ion-view view-title="{{'PAGE_TITLE.SETTINGS' | translate}}">

  <ion-content>

    <div class="list">

      <!-- BABY INFOS-->
      <!-- BABY HEADER -->
      <div class="item item-divider text-label" style="padding-top:15px;margin-bottom:5px">
        <div class="row row-center">
          <div class="col col-center">{{'SETTINGS.BABY_HEADER' | translate}}</div>
        </div>
      </div>

      <!-- BABY NAME -->
      <div class="row row-center settings-row settings-text">
        <div class="col col-center col-40">
          {{'SETTINGS.BABY_NAME' | translate}}
        </div>
        <div class="col col-50">
          <input name="name" type="text" ng-model="setVM.name" style="width:100%" ng-blur="setVM.changeName()">
        </div>
      </div>

      <!-- BABY SURNAME -->
      <div class="row row-center settings-row settings-text">
        <div class="col col-center col-40">
          {{'SETTINGS.BABY_FIRSTNAME' | translate}}
        </div>
        <div class="col col-50">
          <input name="surname" type="text" ng-model="setVM.firstname" style="width:100%" ng-blur="setVM.changeFirstname()">
        </div>
      </div>

      <!--BIRTHDAY -->
      <div class="row row-center settings-row settings-text">
        <div class="col col-center col-40" ng-if="setVM.gender == setVM.MALE">
          {{'SETTINGS.BIRTHDAY_MALE' | translate}}
        </div>
        <div class="col col-center col-40" ng-if="setVM.gender == setVM.FEMALE">
          {{'SETTINGS.BIRTHDAY_FEMALE' | translate}}
        </div>

        <div class="col col-50 col-center">
          <div class="settings-time" ng-click="setVM.openDatePicker()">
            {{setVM.birthday.toLocaleDateString()}}
          </div>
        </div>
      </div>

      <!-- BABY GENDER -->
      <div class="row row-center settings-row settings-text">
        <div class="col col-center col-40">
          {{'SETTINGS.BABY_GENDER' | translate}}
        </div>
        <div class="col col-10 col-center" ng-click="setVM.onClickMale()">
          <i ng-class="setVM.gender == setVM.MALE?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" style="font-size: 26px"></i>
        </div>
        <div class="col col-20" style="text-align:left;margin-left:-7px" ng-click="setVM.onClickMale()">
          {{'SETTINGS.BABY_BOY' | translate}}
        </div>
        <div class="col col-10" ng-click="setVM.onClickFemale()">
          <i ng-class="setVM.gender == setVM.FEMALE?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" style="font-size: 26px"></i>
        </div>
        <div class="col col-20" style="text-align:left;margin-left:-7px" ng-click="setVM.onClickFemale()">
          {{'SETTINGS.BABY_GIRL' | translate}}
        </div>

      </div>

      <!-- BABY WEIGHT -->
      <div class="row row-center settings-row settings-text">
        <div class="col col-center col-40">
          {{'SETTINGS.BABY_WEIGHT' | translate}}
        </div>
        <div class="col col-center col-25">
          <input name="weight" type="number" ng-model="setVM.weight" style="width:100%" ng-blur="setVM.changeWeight()">
        </div>
        <div class="col col-center col-20">
          {{'ACRONYM.WEIGHT' | translate}}
        </div>
      </div>

      <!-- BABY HEIGHT -->
      <div class="row row-center settings-row settings-text">
        <div class="col col-center col-40">
          {{'SETTINGS.BABY_HEIGHT' | translate}}
        </div>
        <div class="col col-center col-25">
          <input name="height" type="number" ng-model="setVM.height" style="width:100%" ng-blur="setVM.changeHeight()">
        </div>
        <div class="col col-center col-20">
          {{'ACRONYM.HEIGHT' | translate}}
        </div>
      </div>

      <!-- OPTIONS -->
      <!-- OPTION HEADER -->
      <div class="item item-divider text-label" style="padding-top:15px;margin-bottom:5px">
        <div class="row row-center">
          <div class="col col-center">{{'SETTINGS.OPTION_HEADER' | translate}}</div>
        </div>
      </div>


    </div>
    <!-- END OF LIST -->

  </ion-content>

</ion-view>