<ion-view view-title="{{inVM.autoMode?'Automatic':'Manual'}}">

  <!--
  <ion-nav-buttons side="secondary">
    <div>
      <div>
        <i class="icon ion-android-checkbox-outline nav-icon-left" ng-class="inVM.enableSave?'':'disabled'" ng-click="inVM.save()"></i>
        <!--<img ng-src="img/save-active.png" class="nav-icon-left">--
      </div>
    </div>
  </ion-nav-buttons>-->


  <!--<ion-content class="" ng-class="inVM.enableSave?'has-button-bar':''">-->
  <ion-content>

    <div class="list">

      <!-- CHRONOMETER PANEL -->
      <div ng-if="inVM.autoMode">

        <!-- CHRONOMETER HEADER -->
        <div class="row row-center item-divider text-label">
          <div class="col col-center">BREAST CHRONOMETER</div>
          <!--<div class="col text-infos" style="text-align:right;vertical-align:bottom">{{inVM.curHour}}h {{inVM.curMin}}mn {{inVM.curSec}}s</div>-->
        </div>

        <!-- DATE ROW -->
        <div class="item">
          <div class="row date-row" ng-if="inVM.autoMode">
            <div class="col">


              <div class="time_display">
                {{inVM.chrHour}}:{{inVM.chrMin}}:{{inVM.chrSec}}
              </div>
            </div>
          </div>

          <!-- SIDE DISPLAY -->
          <div class="row row-center side-row">

            <!-- LEFT side radio button -->
            <div class="col col-10 col-center" ng-click="inVM.onLeftSideClick()">
              <i ng-class="inVM.leftSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onLeftSideClick()">
              left side
            </div>

            <!-- RIGHT side radio button -->
            <div class="col col-10" ng-click="inVM.onRightSideClick()">
              <i ng-class="inVM.rightSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline' "></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onRightSideClick()">
              right side
            </div>
          </div>


          <!-- RUN / PAUSE BUTTON -->
          <div class="row button-row">
            <!-- RUN BUTTON -->
            <div class="col col-50">
              <button ng-disabled="inVM.curState != inVM.STATE_IDLE" class="button icon-left ion-play button-outline button-block button-positive" ng-click="inVM.run()">
                Run
              </button>
            </div>

            <!-- PAUSE BUTTON -->
            <div class="col col-50">
              <button ng-disabled="inVM.curState != inVM.STATE_RUNNING" class="button icon-left ion-pause button-outline button-block button-positive" ng-click="inVM.pause()">
                Pause
              </button>
            </div>
          </div>

          <!-- SEQUENCE DISPLAY -->
          <div class="item recItem-row" ng-repeat="item in inVM.durationRec">
            <div class="row">
              <div class="col col-25 start_time">
                {{item.startTime | HourMinFromDate}}
              </div>
              <div class="col col-50" style="text-align:center" ng-if="item.duration > 0">
                duration : {{item.duration | MinutesFromSeconds}}
              </div>
              <div class="col col-50" style="text-align:center" ng-if="item.duration == 0">
                in progress . . . .
              </div>

              <div class="col col-25" style="text-align:right">
                ({{item.side.string}})
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF CHRONOMETER PANEL -->


      <!-- MANUAL EDIT PANEL -->
      <div ng-if="inVM.manualMode">

        <!-- MANUAL HEADER -->
        <div class="row row-center item-divider text-label">
          <div class="col col-center">BREAST MANUAL EDIT</div>
          <!--<div class="col text-infos" style="text-align:right;vertical-align:bottom">{{inVM.curHour}}h {{inVM.curMin}}mn {{inVM.curSec}}s</div>-->
        </div>

        <div class="item">

          <!-- DAY DISPLAY -->
          <div class="row date-row">
            <div class="col">
              <div class="time_display_sm" ng-click="inVM.openDatePicker()">
                {{inVM.selDayStr}}
              </div>
            </div>
          </div>

          <!-- TIME DISPLAY -->
          <div class="row date-row">
            <div class="col">
              <div class="time_display_sm" ng-click="inVM.openTimePicker()">
                {{inVM.selHour}}:{{inVM.selMin}}
              </div>
            </div>
          </div>

          <!-- SIDE DISPLAY -->
          <div class="row row-center side-row" style="padding-top:10px">

            <!-- LEFT side radio button -->
            <div class="col col-10 col-center" ng-click="inVM.onLeftSideClick()">
              <i ng-class="inVM.leftSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onLeftSideClick()">
              left side
            </div>

            <!-- RIGHT side radio button -->
            <div class="col col-10" ng-click="inVM.onRightSideClick()">
              <i ng-class="inVM.rightSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline' "></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onRightSideClick()">
              right side
            </div>
          </div>

          <div class="row duration-row">
            <div class="col">
              <rzslider id="durationSlider" rz-slider-tpl-url="templates/myRzSliderTpl.html" rz-slider-model="inVM.durationSlider.value" rz-slider-options="inVM.durationSlider.options">
              </rzslider>
            </div>
          </div>


        </div>

      </div>



      <!-- DIAPER HEADER -->
      <div class="item item-divider text-label">
        <div class="row row-center">
          <div class="col">DIAPER</div>
          <div class="col" style="text-align:right">
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-click="inVM.onToggleDiapper()">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="item diapper-item ng-hide" ng-show="inVM.enableDiaper">
        <!-- PEE MEASUREMENT -->
        <div class="row row-diapper">
          <div class="col col-33 col-bottom">
            Pee level:
          </div>
          <div class="col col-66">
            <rzslider id="peeSlider" rz-slider-model="inVM.peeSlider.value" rz-slider-options="inVM.peeSlider.options">
            </rzslider>
          </div>
        </div>

        <!-- POO MEASUREMENT -->
        <div class="row row-diapper">
          <div class="col col-33 col-bottom">
            Poo level:
          </div>
          <div class="col col-66">
            <rzslider id="pooSlider" rz-slider-model="inVM.pooSlider.value" rz-slider-options="inVM.pooSlider.options">
            </rzslider>
          </div>
        </div>
      </div>

      <!-- BATH HEADER -->
      <div class="item item-divider text-label">
        <div class="row row-center">
          <div class="col">BATH</div>
          <div class="col" style="text-align:right">
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-click="inVM.onToggleBath()">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF LIST -->


    <!-- BOTTOM BUTTON -->
    <div>
      <div class="row bottom-button-row">
        <!-- SAVE BUTTON -->
        <div class="col col-50">
          <button class="button button-block button-positive button-outline " ng-click="inVM.save()" ng-disabled="!inVM.enableSave">
            Save
          </button>
        </div>

        <!-- CANCEL BUTTON -->
        <div class="col col-50">
          <button class="button button-block button-positive button-outline" ng-click="inVM.cancel()">
            Reset
          </button>
        </div>

      </div>
    </div>

  </ion-content>

  <!-- BUTTON BOARD (on bottom) 
  <div class="buttonBoard" ng-show="inVM.enableSave">

    <!-- SAVE BUTTON --
    <div class="col col-50">
      <button class="button button-block button-positive " ng-click="inVM.save()">
        Save
      </button>
    </div>
  </div>
  -->

</ion-view>