<ion-view view-title="{{inVM.curMode==inVM.MODE_AUTO? ('PAGE_TITLE.AUTOMATIC' | translate)
                      :inVM.curMode==inVM.MODE_EDIT?('PAGE_TITLE.EDIT' | translate)
                      :('PAGE_TITLE.MANUAL' | translate)}}">

  <!-- BACK BUTTON (LEFT)-->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon button-clear ion-navicon" ng-if="inVM.curMode !== inVM.MODE_EDIT"></button>
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="inVM.goBack()" ng-if="inVM.curMode === inVM.MODE_EDIT">
    </button>&nbsp;&nbsp;
  </ion-nav-buttons>

  <!-- SAVE BUTTON (RIGHT)-->
  <ion-nav-buttons side="secondary">
    <button class="button button-stable button-outline" ng-click="inVM.save()" ng-disabled="!inVM.enableSave">
      {{'BUTTON.SAVE' | translate}}
    </button>
  </ion-nav-buttons>

  <!--
  <ion-nav-buttons side="secondary">
    <div>
      <div>
        <i class="icon ion-android-checkbox-outline nav-icon-left" ng-class="inVM.enableSave?'':'disabled'" ng-click="inVM.save()"></i>
        <!--<img ng-src="img/save-active.png" class="nav-icon-left">--
      </div>
    </div>
  </ion-nav-buttons>-->


  <!--<ion-content class="" ng-class="inVM.enableSave?'has-button-bar':''">-->
  <ion-content>

    <div class="list">

      <!-- MODE AUTO : CHRONOMETER PANEL -->
      <div ng-if="inVM.curMode===inVM.MODE_AUTO">
        <!-- CHRONOMETER HEADER -->
        <div class="row row-center item-divider text-label">
          <img src="img/breast.png" style="width:35px; margin-left:3px; margin-right:2px">
          <div class="col col-center">{{'INPUT.BREAST_CHRONO_HEADER' | translate}}</div>
          <!--<div class="col text-infos" style="text-align:right;vertical-align:bottom">{{inVM.curHour}}h {{inVM.curMin}}mn {{inVM.curSec}}s</div>-->
        </div>

        <!-- DATE ROW -->
        <div class="item">
          <!--<div class="row date-row" ng-if="inVM.autoMode">-->
          <div class="row date-row">
            <div class="col">
              <div class="time_display">
                {{inVM.chrHour}}:{{inVM.chrMin}}:{{inVM.chrSec}}
              </div>
            </div>
          </div>

          <!-- SIDE DISPLAY -->
          <div class="row row-center side-row">

            <!-- LEFT side radio button -->
            <div class="col col-10 col-center" ng-click="inVM.onLeftSideClick()">
              <i ng-class="inVM.leftSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onLeftSideClick()">
              {{'INPUT.BREAST_LEFT_SIDE' | translate}}
            </div>

            <!-- RIGHT side radio button -->
            <div class="col col-10" ng-click="inVM.onRightSideClick()">
              <i ng-class="inVM.rightSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline' "></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onRightSideClick()">
              {{'INPUT.BREAST_RIGHT_SIDE' | translate}}
            </div>
          </div>


          <!-- RUN / PAUSE BUTTON -->
          <div class="row button-row">
            <!-- RUN BUTTON -->
            <div class="col col-50">
              <button ng-disabled="inVM.curState == inVM.STATE_RUNNING" class="button icon-left ion-play button-outline button-block button-positive" ng-click="inVM.run()">
                {{'INPUT.BREAST_RUN' | translate}}
              </button>
            </div>

            <!-- PAUSE BUTTON -->
            <div class="col col-50">
              <button ng-disabled="inVM.curState != inVM.STATE_RUNNING" class="button icon-left ion-pause button-outline button-block button-positive" ng-click="inVM.pause()">
                {{'INPUT.BREAST_PAUSE' | translate}}
              </button>
            </div>
          </div>

          <!-- SEQUENCE DISPLAY 
          <div class="item recItem-row" ng-repeat="item in inVM.durationRec">
            <div class="row">
              <div class="col col-25 start_time">
                {{item.startTime | HourMinFromDate}}
              </div>
              <div class="col col-50" style="text-align:center" ng-if="item.duration > 0">
                duration : {{item.duration | MinutesFromSeconds}}
              </div>
              <div class="col col-50" style="text-align:center" ng-if="item.duration == 0">
                in progress . . . .
              </div>

              <div class="col col-25" style="text-align:right">
                ({{item.side.string}})
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <!-- END OF CHRONOMETER PANEL -->


      <!-- Mode MANUAL and EDIT : SPECIFIC OPTION -->
      <div ng-if="inVM.curMode === inVM.MODE_EDIT || inVM.curMode === inVM.MODE_MANUAL ">

        <!-- DAY DISPLAY -->
        <div class="row date-row">
          <div class="col">
            <div class="time_display_sm" ng-click="inVM.curMode!==inVM.MODE_AUTO?inVM.openDatePicker():''" ng-class="inVM.curMode===inVM.MODE_AUTO?'disabled':''">
              {{inVM.selDay.toLocaleDateString()}}
            </div>
          </div>
        </div>

        <!-- TIME DISPLAY -->
        <div class="row date-row">
          <div class="col">
            <div class="time_display_sm" ng-click="inVM.curMode!==inVM.MODE_AUTO?inVM.openTimePicker():''" ng-class="inVM.curMode===inVM.MODE_AUTO?'disabled':''">
              {{inVM.selHour}}:{{inVM.selMin}}
            </div>
          </div>
        </div>

        <!-- MANUAL HEADER-->
        <div class="item item-divider text-label item-avatar" ng-click="inVM.onToggleBreast()">
          <div class="row row-center">
            <img src="img/breast.png" style="width:35px; margin-left:3px; margin-right:2px">
            <div class="col">{{'INPUT.BREAST_MANUAL_HEADER' | translate}}</div>
            <div class="col" style="text-align:right">
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="inVM.breast" ng-click="inVM.onToggleBreast()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="item" ng-show="inVM.breast">

          <!-- SIDE DISPLAY -->
          <div class="row row-center side-row" style="padding-top:10px">

            <!-- LEFT side radio button -->
            <div class="col col-10 col-center" ng-click="inVM.onLeftSideClick()">
              <i ng-class="inVM.leftSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onLeftSideClick()">
              {{'INPUT.BREAST_LEFT_SIDE' | translate}}
            </div>

            <!-- RIGHT side radio button -->
            <div class="col col-10" ng-click="inVM.onRightSideClick()">
              <i ng-class="inVM.rightSide?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline' "></i>
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onRightSideClick()">
              {{'INPUT.BREAST_RIGHT_SIDE' | translate}}
            </div>
          </div>

          <div class="row duration-row">
            <div class="col">
              <rzslider id="breastSlider" rz-slider-tpl-url="templates/myRzSliderTpl.html" rz-slider-model="inVM.breastSlider.value" rz-slider-options="inVM.breastSlider.options">
              </rzslider>
            </div>
          </div>
        </div>
      </div>

      <!-- BOTTLE HEADER -->
      <div class="item item-divider text-label" ng-click="inVM.onToggleBottle()">
        <div class="row row-center">
          <img src="img/bottle-on.png" style="height:40px; margin-left:8px; margin-right:8px">
          <div class="col">{{'INPUT.BOTTLE_HEADER' | translate}}</div>
          <div class="col" style="text-align:right">
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-model="inVM.bottle" ng-click="inVM.onToggleBottle()">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="item" ng-show="inVM.bottle">
        <!-- CONTENT -->
        <div class="row bottle-row">
          <div class="col">
            <rzslider id="bottleSlider" rz-slider-tpl-url="templates/myRzSliderTpl.html" rz-slider-model="inVM.bottleSlider.value" rz-slider-options="inVM.bottleSlider.options">
            </rzslider>
          </div>
        </div>
      </div>

      <!-- MEDECINE HEADER -->
      <div ng-if="inVM.displayConf.medecine">
        <div class="item item-divider text-label item-avatar" ng-click="inVM.onToggleMedecine()">
          <div class="row row-center">
            <img src="img/medecine-on.png" style="width:38px; margin-left:1px; margin-right:1px">
            <div class="col">{{'INPUT.MEDECINE_HEADER' | translate}}</div>
            <div class="col" style="text-align:right">
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="inVM.medecine" ng-click="inVM.onToggleMedecine()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <!-- MEDECINE INPUT-->
        <div class="item med-row" ng-show="inVM.medecine">
          <!-- VITAMINE / PARACETAMOL-->
          <div class="row row-center med-row" style="padding-top:10px">

            <!-- VITAMIN radio button -->
            <div class="col col-10 col-center" ng-click="inVM.onVitaminClick()">
              <i ng-class="inVM.vitamin?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
              <!-- <div class="medecine" ng-class="inVM.vitamin?' vitamin-checked':''">
              <i ng-class="inVM.vitamin?'icon ion-ios-checkmark-empty':'' "></i>
            </div>-->
            </div>
            <div class="col col-40" style="text-align:left;padding-left:15px" ng-click="inVM.onVitaminClick()">
              {{'INPUT.MEDECINE_VITAMIN' | translate}}
            </div>

            <!-- PARACETAMOL radio button -->
            <div class="col col-10" ng-click="inVM.onParacetamolClick()">
              <i ng-class="inVM.paracetamol?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
              <!-- <div class="medecine" ng-class="inVM.paracetamol?'paracetamol-checked':''">
              <i ng-class="inVM.paracetamol?'icon ion-checkmark':'' "></i>
            </div>-->
            </div>
            <div style="text-align:left;padding-left:15px; padding-right:10px" ng-click="inVM.onParacetamolClick()">
              {{'INPUT.MEDECINE_PARACETAMOL' | translate}}</div>
            <div ng-if="inVM.paracetamolAlarm != false">
              <i class="icon ion-android-stopwatch" style="color:red;font-size:25px" ng-click="inVM.pop_paracetamolAlarm"></i>
            </div>
          </div>

          <!-- OTHER -->
          <div class="row row-center med-row" style="padding-top:10px">

            <!-- OTHER radio button -->
            <div class="col col-10 col-center" ng-click="inVM.onOtherMedClick()">
              <i ng-class="inVM.otherMed?'icon ion-ios-checkmark-outline':'icon ion-ios-circle-outline'" ng-class=""></i>
              <!-- <div class="medecine" ng-class="inVM.otherMed?'otherMed-checked':''">
              <i ng-class="inVM.otherMed?'icon ion-checkmark':'' "></i>
            </div>-->
            </div>
            <div class="col col-25" style="text-align:left;padding-left:15px" ng-click="inVM.onOtherMedClick()">
              {{'INPUT.MEDECINE_OTHER' | translate}}
            </div>
            <input name="otherMed" type="text" ng-model="inVM.otherMedName" style="margin-right:10px;width:100%" ng-click="inVM.onOtherMedName()">

          </div>
        </div>
      </div>

      <!-- DIAPER HEADER -->
      <div ng-if="inVM.displayConf.diapper">
        <div class="item item-divider text-label" ng-click="inVM.onToggleDiapper()">
          <div class="row row-center">
            <img src="img/diapper-on.png" style="width:30px; margin-left:5px; margin-right:5px">
            <div class="col">{{'INPUT.DIAPPER_HEADER' | translate}}</div>
            <div class="col" style="text-align:right">
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="inVM.diapper" ng-click="inVM.onToggleDiapper()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="item diapper-item ng-hide" ng-show="inVM.diapper">
          <!-- PEE MEASUREMENT -->
          <div class="row row-diapper">
            <div class="col col-33 col-top">
              {{'INPUT.DIAPPER_PEE_LEVEL' | translate}}
            </div>
            <div class="col col-66">
              <rzslider id="peeSlider" rz-slider-model="inVM.peeSlider.value" rz-slider-options="inVM.peeSlider.options">
              </rzslider>
            </div>
          </div>

          <!-- POO MEASUREMENT -->
          <div class="row row-diapper">
            <div class="col col-33 col-top">
              {{'INPUT.DIAPPER_POO_LEVEL' | translate}}
            </div>
            <div class="col col-66">
              <rzslider id="pooSlider" rz-slider-model="inVM.pooSlider.value" rz-slider-options="inVM.pooSlider.options">
              </rzslider>
            </div>
          </div>
        </div>
      </div>

      <!-- BATH HEADER -->
      <div ng-if="inVM.displayConf.bath">
        <div class="item item-divider text-label item-avatar" ng-click="inVM.onToggleBath()">
          <div class="row row-center">
            <img src="img/bath-on.png" style="width:28px; margin-left:6px; margin-right:6px">
            <div class="col">{{'INPUT.BATH_HEADER' | translate}}</div>
            <div class="col" style="text-align:right">
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="inVM.bath" ng-click="inVM.onToggleBath()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <!--BATH MESSAGE -->
        <div class="item bath-row" ng-show="inVM.bath">
          <!-- CONTENT -->
          <div class="row">
            <div class="col" ng-if="inVM.babyGender == inVM.MALE">
              {{'INPUT.BATH_MESSAGE_MALE'| translate : {'name' : inVM.babyName} }}
            </div>
            <div class="col" ng-if="inVM.babyGender == inVM.FEMALE">
              {{'INPUT.BATH_MESSAGE_FEMALE'| translate : {'name' : inVM.babyName} }}
            </div>
          </div>
        </div>
      </div>

      <!-- WEIGHT/HEIGHT HEADER -->
      <div ng-if="inVM.displayConf.measure">
        <div class="item item-divider text-label item-avatar" ng-click="inVM.onToggleMeasure()">
          <div class="row row-center">
            <img src="img/measure-on.png" style="width:36px; margin-left:2px; margin-right:2px">
            <div class="col">{{'INPUT.MEASURE_HEADER' | translate}}</div>
            <div class="col" style="text-align:right">
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="inVM.measure" ng-click="inVM.onToggleMeasure()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="item" ng-show="inVM.measure">
          <div class="row row-center measure-row">
            <!-- WEIGHT  -->
            <div class="col col-center col-15" style="margin-left:10px">
              {{'INPUT.MEASURE_WEIGHT' | translate}}
            </div>
            <div class="col col-right col-20">
              <input name="weight" type="number" ng-model="inVM.weight" style="width:100%; padding-left:10px" ng-blur="inVM.changeWeight()">
            </div>
            <div class="col col-left col-15">
              {{'ACRONYM.WEIGHT' | translate}}
            </div>

            <!-- HEIGTH -->
            <div class="col col-center col-15">
              {{'INPUT.MEASURE_HEIGHT' | translate}}
            </div>
            <div class="col col-center col-20 settings-text">
              <input name="height" type="number" ng-model="inVM.height" style="width:100%; padding-left:10px" ng-blur="inVM.changeHeight()">
            </div>
            <div class="col col-left col-15">
              {{'ACRONYM.HEIGHT' | translate}}
            </div>
          </div>

        </div>
      </div>


      <!-- NOTE HEADER -->
      <div ng-if="inVM.displayConf.note">
        <div class="item item-divider text-label item-avatar" ng-click="inVM.onToggleMessage()">
          <div class="row row-center">
            <img src="img/note-on.png" style="width:36px; margin-left:2px; margin-right:2px">
            <div class="col">{{'INPUT.NOTE_HEADER' | translate}}</div>
            <div class="col" style="text-align:right">
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="inVM.message" ng-click="inVM.onToggleMessage()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <!-- MESSAGE INPUT-->
        <div class="item msg-row" ng-show="inVM.message">
          <!-- CONTENT -->
          <textarea id="myTextarea" ng-model="inVM.msgTxt" class="textareaMsg" placeholder="{{'INPUT.NOTE_PLACEHOLDER' | translate}}" ng-change="inVM.changeMessage()"></textarea>
        </div>
      </div>

      <!-- BOTTOM BUTTON -->
      <div>
        <div class="row bottom-button-row">
          <!-- SAVE BUTTON -->
          <div class="col col-50">
            <button class="button button-block button-positive button-outline " ng-click="inVM.save()" ng-disabled="!inVM.enableSave">
              {{'BUTTON.SAVE' | translate}}
            </button>
          </div>

          <!-- RESET BUTTON -->
          <div class="col col-50">
            <button class="button button-block button-positive button-outline" ng-click="inVM.reset()">
              {{'BUTTON.RESET' | translate}}
            </button>
          </div>

        </div>
      </div>


    </div>
    <!-- END OF LIST ?-->

  </ion-content>

  <!-- BUTTON BOARD (on bottom) 
  <div class="buttonBoard" ng-show="inVM.enableSave">

    <!-- SAVE BUTTON --
    <div class="col col-50">
      <button class="button button-block button-positive " ng-click="inVM.save()">
        Save
      </button>
    </div>
  </div>
  -->

</ion-view>