<ion-view view-title="Automatic">

    <ion-content class="padding has-button-bar">

        <!-- CURRENT TIME DISPLAY -->
        <div class="curTime_header">
            <div class="row" style="margin:0px">
                <div class="col col-50 col-left">
                    Current Time :
                </div>
                <div class="col col-50 col-right">
                    {{autoVM.curHour}}h {{autoVM.curMin}}mn {{autoVM.curSec}}s
                </div>
            </div>
        </div>

        <!-- CHRONO DISPLAY -->
        <div class="time_display">
            {{autoVM.chrHour}}:{{autoVM.chrMin}}:{{autoVM.chrSec}}
        </div>

        <!-- SIDE DISPLAY -->
        <div class="side_display">
            <div class="row">
                <div class="col col-40">
                    left side
                </div>
                <div class="col col-20" style="text-align:center">
                    <label class="toggle toggle-positive">
                        <input ng-model="autoVM.toggleSide" type="checkbox" ng-change="autoVM.updateSide()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="col col-40" style="text-align:right">
                    right side
                </div>
            </div>

        </div>

        <!-- RUN / PAUSE BUTTON -->
        <div class="row button_row">
            <!-- RUN BUTTON -->
            <div class="col col-50">
                <button ng-disabled="autoVM.curState != autoVM.STATE_IDLE" class="button icon-left ion-play button-outline button-block button-positive" ng-click="autoVM.run()">
                    Run
                </button>
            </div>

            <!-- PAUSE BUTTON -->
            <div class="col col-50">
                <button ng-disabled="autoVM.curState != autoVM.STATE_RUNNING" class="button icon-left ion-pause button-outline button-block button-positive" ng-click="autoVM.pause()">
                    Pause
                </button>
            </div>
        </div>

        <!-- SEQUENCE DISPLAY -->
        <div class="timerList">
            <div class="row" ng-repeat="item in autoVM.durationRec">
                <div class="col col-25 start_time">
                    {{item.startTime | HourMinFromDate}}
                </div>
                <div class="col col-50" style="text-align:center" ng-if="item.duration > 0">
                    duration : {{item.duration | MinutesFromSeconds}}mn
                </div>
                <div class="col col-50" style="text-align:center" ng-if="item.duration == 0">
                    in progress . . . .
                </div>

                <div class="col col-25" style="text-align:right">
                    ({{item.side.string}})
                </div>
            </div>
        </div>

        <!-- DIAPER DISPLAY -->
        <div class="diapper">

            <!-- PEE MEASUREMENT -->
            <div class="row" style="margin-top:20px">
                <div class="col col-33 col-bottom">
                    Pee level:
                </div>
                <div class="col col-66">
                    <rzslider id="peeSlider" rz-slider-model="autoVM.peeSlider.value" rz-slider-options="autoVM.peeSlider.options">
                    </rzslider>
                </div>
            </div>

            <!-- POO MEASUREMENT -->
            <div class="row">
                <div class="col col-33 col-bottom">
                    Poo level:
                </div>
                <div class="col col-66">
                    <rzslider id="pooSlider" rz-slider-model="autoVM.pooSlider.value" rz-slider-options="autoVM.pooSlider.options">
                    </rzslider>
                </div>
            </div>

        </div>



    </ion-content>

    <!-- BUTTON BOARD (on bottom) -->
    <div class="buttonBoard" ng-show="autoVM.enableSave">

        <!-- BOTTOM BUTTON ROW -->
        <div class="row">

            <!-- SAVE BUTTON -->
            <div class="col col-50">
                <button class="button button-block button-positive " ng-click="autoVM.save()">
                    Save
                </button>
            </div>

            <!-- CANCEL BUTTON -->
            <div class="col col-50">
                <button class="button button-block button-positive " ng-click="autoVM.cancel()">
                    Cancel
                </button>
            </div>
        </div>

    </div>

</ion-view>