<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Automatic Tab -->
  <!--<ion-tab title="Automatic" icon="ion-clock" href="#/tab/auto">-->
  <ion-tab title="{{'TAB_TITLE.AUTOMATIC' | translate}}" icon="ion-android-stopwatch" ui-sref="tab.auto({mode :0})">
    <ion-nav-view name="tab-auto" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Manual Tab -->
  <!--<ion-tab title="Manual" icon="ion-edit" href="#/tab/input">-->
  <ion-tab title="{{'TAB_TITLE.MANUAL' | translate}}" icon="ion-edit" ui-sref="tab.manual({mode :1})">
    <ion-nav-view name="tab-manual" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Historic Tab -->
  <ion-tab title="{{'TAB_TITLE.HISTORIC' | translate}}" icon="ion-calendar" ui-sref="tab.historic({})">
    <ion-nav-view name="tab-historic" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Graphic Tab -->
  <ion-tab title="{{'TAB_TITLE.GRAPHIC' | translate}}" icon="ion-stats-bars" ui-sref="tab.graphic">
    <ion-nav-view name="tab-graphic" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="{{'TAB_TITLE.SETTINGS' | translate}}" icon="ion-gear-a" ui-sref="tab.settings">
    <ion-nav-view name="tab-settings" animation="slide-left-right"></ion-nav-view>
  </ion-tab>


</ion-tabs>